.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moon-card,
.sun-card {
  width: 80%;
  height: auto;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .moon-card,
  .sun-card {
    width: 20%;
    height: auto;
    margin: 10px;
  }
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 768px) {
  .centered-content {
    flex-direction: row;
    justify-content: space-between; /* Karten links und rechts von der Uhr platzieren */
  }

  .moon-card,
  .sun-card {
    align-self: center; /* Karten vertikal zentrieren */
    margin-top: auto; /* Abstand vom unteren Rand */
    margin-bottom: auto; /* Abstand vom oberen Rand */
  }
}
