.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moon-card,
.sun-card {
  width: 80%;
  height: auto;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .moon-card {
    width: 20%;
    height: 50%;
    margin: 10px;
  }
  .sun-card {
    width: 20%;
    height: 50%;
    margin: 10px;
  }
}
